@import "tailwindcss";

@theme {
    --color-squad-blue:#211C84;
    --color-squad-navy-blue:#211C84;
    --color-squad-dark-light-blue:#000957;
    --color-squad-light-navy-blue:#E8F9FF;
}

#root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}